<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772039404460-jffl8e5k8ffso0rh07nn7b6q2ivml2av.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772039404460-jffl8e5k8ffso0rh07nn7b6q2ivml2av</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>772039404460-98mesf71pbhbtvn1ea0k73m4au4vccfc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCP6mnkz4QLV8x1gW-nCBlhTBgT9LRQ2Bo</string>
	<key>GCM_SENDER_ID</key>
	<string>772039404460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatRoom</string>
	<key>PROJECT_ID</key>
	<string>chat-room-edcb6</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-room-edcb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772039404460:ios:f83c7ad592490c2a51e809</string>
</dict>
</plist>